body {
  font-family: helvetica;
}

h3 {
  float: left;
  margin-top: 0px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  font-size: 15px;
  color: gray;
}

a:hover {
  color: black;
}

#projects-section {
  width: 760px;
}

#project-thumb {
  height: 150px;
  width: 520px;
}

#project-image {
  width: 206px;
  height: 106px;
  margin-right: 10px;
  background-position: 50% 25%;
  background-size: cover;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  float: left;
}

#project-image:hover {
  border: 1px solid #989898;
}

#project-description {
  display: block;
  float: left;
  width: 300px;
  color: #B1B1B1;
  font-size: 13px;
}

.toggle-link {
  color: gray;
}

.toggle-link:hover {
  color: black;
}

.hidden {
  display: none;
}
